.Body{
}

.MainBody{
    margin-left: 100px;
    margin-top: 50px;
  }

.column{
    float: left;
    width: 50%;
}

.Instructions{
    font-size: 30px;
}

.item{
    display: flex;
}

.itemtext{
    margin-bottom: 0px;
    font-size: 25px;
}

.btns{
    display: inline-flex;
    position: absolute;
    flex-basis: 8rem;
    border-style: groove;
    border-radius: 12px;
    padding: 0px 15px;
    margin-left: 150px;
    align-items: center;
    margin-top: 20px;
}

.count{
    font-size: 20px;
    margin-left: 10px;
}

.pos{
    cursor: pointer;
    text-align: center;
    font-size: 15px;
}

.neg{
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    margin-left: 10px;
}

.totaltext{
    position: absolute;
    margin-left: 270px;
    font-size: 20px;
    margin-bottom: 5px;
}

